* {
  margin: 0;
  padding: 0;
}


body {
  background-color: white;
  
  font-family: Karla;
  color: #495E57;
  overflow-y: scroll;
}

 header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1, 1fr;
  column-gap: 1.26em;
  margin-left: 1.26em;
  margin-right: 1.26em;
  justify-content: space-between;
  background-color: white;
  padding: 1%;
  margin-bottom: 0;
  font-weight: 700;
  }

  #hlogo {
    display: inline-block;
    grid-column: 1/ span 1 ;
    grid-row: 1/1;
    margin-top: auto;
    margin-bottom: auto;
    }

  nav {
    grid-column: 2/ span 4;
    grid-row: 1/ span 1;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  nav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style: none;
  }

  nav li {
    text-align: center;
    max-width: 100%;
  }

  nav a {
    text-decoration: none;
    color: #495E57;
    font-size: 1.25rem;
    max-width: 100%;
    }
  
  #button {
    display: none;
  }

#hcart {
  display: none;
}

#hero {
  width: 100%;
  box-sizing: border-box;
  border-width: 0.315rem 0.086rem;
  border-style: solid;
  border-color: #494949;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-shadow: 12px 12px 2px 1px white;
}
.main-hero {
  display: grid;
  grid-template-columns: repeat(4, [column-start] 1fr);
  column-gap: 1.26em;
  margin-left: 1.26em;
  margin-right: 1.26em;
  grid-template-rows: repeat(34,8px);


}
.main-hero h1 {
  font-size: calc(2.5rem + 3vw);
  }
  
 

#heroh1g {
  grid-column: 2/ span 2;
  grid-row: 8/ span 20;
  text-align: center;
  
  }

.main-hero img {
  height: 6.048rem;
  width: 4.725rem;
  }

#lime {
  grid-column: 4/ 4;
  grid-row: 22/ span 34;
  justify-content: stretch;
  margin-top: 15%;

}

#formh1 {
    text-align: center;
  margin-top: 2%;
}

#calltoactionimg{
  height: 366px;
  width: 347px;
}

#cardimg {
  height: 164px;
  width: 262px;
}

footer {
  position:sticky;
  width: 100%;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1, 1fr;
  column-gap: 1.26em;
  position: fixed;
  background-color: #494949;
  color: white;
  font-size: calc(1rem + 1vw);
  padding-top: 2%;
  padding-bottom: 2%;
  max-height: 10vh;
}
#fl {
  grid-column: 2/3;
  grid-row: 1;
  justify-self: center;
  width: 100%;
  max-height: 80%;
  min-height: 8vh;
  margin-top: auto;
  margin-bottom: auto;
}

#fh {
  grid-column: 1;
  grid-row: 1;
  justify-self: right;
  margin-top: auto;
  margin-bottom: auto;
}



@media screen and (max-width: 25.389em )  {
 

  .main-hero h1 {
    font-size: calc(2rem + 3vw)
  }
}

@media screen and (max-width: 22.68em )  {

.main-hero h1 {  font-size: calc(2rem + 2.5vw)}}

@media screen and (max-width: 21.798em )  {

  .main-hero h1 {  font-size: calc(2rem + 2.25vw)}

  .main-hero {
    column-gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
    
  }  



}



@media screen and (max-width: 20.349em ) {

  .main-hero h1 {  font-size: calc(2rem + 2vw)}

  .main-hero {
    column-gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
    
  }  }

  @media screen and (max-width: 20em ) {

    .main-hero h1 {  font-size: calc(2rem + 2vw)}
  
    .main-hero {
      column-gap: 1em;
      margin-left: 1em;
      margin-right: 1em;
    }
    #fl {
    
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        padding: auto;
      
      
    }  }
  

  @media screen and (min-width: 0em ) and (max-width: 89em) {
    
    
    body {
      background-color: yellow;
    }

    nav {
      grid-column: 1/1 ;
      grid-row: 1/ span 1;
      margin-right: auto;
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
    }
  
    #hlogo {
      display: none;
        }
      
  #hcart {
    grid-row: 1/1;
    grid-column: 4/ span 4;
    display: inline-block;
  }

  .navBar {
    position: relative;
  }
  
  .navBar button {
    position: fixed;
    left: 40px;
    top: 40px;
    z-index: 10;
    cursor: pointer;
  }
  
  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: #495E57;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
  }
  
  .menuNav.showMenu {
    width: 100%;
  }
  
  a {
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    text-transform: none;
    font-weight: 700;
  }

  nav li {
    display: flex;
  }
  nav ul {
    display: block;
  }
  ul a {
    color: white;
  }
  .menuNav li:first-child {
    margin-top: 7rem;
  }
#button {
  display: inline-block;
}


}