* {
  margin: 0;
  padding: 0;
}


body {
  background-color: white;
  margin: 3 rem, 3 rem, 5%, 5%;
  font-family: Karla;
  color: #495E57;
  overflow-y: scroll;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4,[col-start] 1fr);
  grid-template-rows: repeat(2000, 8px);
  column-gap: 0.504em;
}
 .wrapper > * {
    grid-column: col-start / span 4;
 }

 header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1, 1fr;
  column-gap: 1.26em;
  margin-left: 1.26em;
  margin-right: 1.26em;
  justify-content: space-between;
  background-color: white;
  padding: 1%;
  margin-bottom: 0;
  font-weight: 700;
  }
  nav {
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

#hlogo {
display: none;
  }

#hcart {
  grid-row: 1/1;
  grid-column: 4/ span 4;
}

.main-hero {
  display: grid;
  grid-template-columns: repeat(4, [column-start] 1fr);
  grid-template-rows: repeat(2,1fr);
  column-gap: 1.26em;
  box-sizing: border-box;
  justify-content: stretch;
border-width: 0.315em 0.086em;
border-style: solid;
border-color: #494949;
font-weight: 500;

}
.main-hero h1 {
  font-size: 4.032em;
  
 
}
#heroh1g {
  grid-column: 2 / span 3;
  grid-row: 1/ span 1;
  padding-top: 1em;
  justify-content: stretch;
  
  }

.main-hero img {
  height: 6.048em;
  width: 4.725em;
  }

#lime {
  grid-column: 4/ span 4;
  grid-row: 2/ span 2;
  justify-content: center;

}


.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background:#495E57 ;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
}

a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.menuNav li:first-child {
  margin-top: 7rem;
}
.navBar button {
  background: transparent;;
  border: none;
}


.about__content {
  padding: 8rem 40px;
  display: flex;
}

.about__list {
  list-style: none;
  flex: 2;
  margin-right: 15px;
}

.about__list a {
  color: #9f9f9f;
  text-transform: capitalize;
  padding: 20px 0;
  font-weight: 600;
}

.about__list a:hover {
  color: #000;
}

.main__content {
  flex: 7;
}

.main__content h1 {
  margin-bottom: 15px;
  line-height: 30px;
  font-size: 30px;
}

.main__content p {
  line-height: 25px;
}