* {
  margin: 0;
  padding: 0;
}


body {

  font-family: Karla;
  color: #495E57;
  overflow-y: scroll;
}

 header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1, 1fr;
  column-gap: 1.26em;
  margin-left: 1.26em;
  margin-right: 1.26em;
  justify-content: space-between;
  background-color: white;
  padding: 1%;
  margin-bottom: 0;
  font-weight: 700;
  }

  #hlogo {
    display: inline-block;
    grid-column: 1/ span 1 ;
    grid-row: 1/1;
    margin-top: auto;
    margin-bottom: auto;
    }

  nav {
    grid-column: 2/ span 4;
    grid-row: 1/ span 1;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  nav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style: none;
  }

  nav li {
    text-align: center;
    max-width: 100%;
  }

  nav a {
    text-decoration: none;
    color: #495E57;
    font-size: 1.25rem;
    max-width: 100%;
    }
  
  #button {
    display: none;
  }

#hcart {
  display: none;
}

#hero {
  width: 100%;
  box-sizing: border-box;
  border-width: 0.315rem 0.086rem;
  border-style: solid;
  border-color: #494949;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-shadow: 12px 12px 2px 1px white;
}
.main-hero {
  display: grid;
  grid-template-columns: repeat(4, [column-start] 1fr);
  column-gap: 1.26em;
  margin-left: 1.26em;
  margin-right: 1.26em;
  grid-template-rows: repeat(34,8px);


}
.main-hero h1 {
  font-size: calc(2.5rem + 3vw);
  }

#heroh1g {
  grid-column: 2/ span 2;
  grid-row: 8/ span 20;
  text-align: center;
  }

.main-hero img {
  height: 6.048rem;
  width: 4.725rem;
  }

#lime {
  grid-column: 4/ 4;
  grid-row: 22/ span 34;
  justify-content: stretch;
  margin-top: 15%;

}

#callToAction {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(50, 8px);
  column-gap: 1.26rem;
  margin-left: 1.26em;
  margin-right: 1.26em;
}
.ctaSection {
  width: 100%;
  background-color: #494949;
  font-weight: 500;
  margin: 0;
  padding: 0;

}


#base {
  grid-column: 1/ span 3;
  grid-row: 2/ span 12;
}
#heroh1 {
  font-family: Markazi text;
  font-size:calc(2.6246rem + 1vw);
  font-weight: 500;
  color: #F4CE14;
  margin-bottom: 0em;
  width: 13.0536em;
  max-width: 90%;
}



#chip {
  grid-column: 1/3;
  grid-row: 15/26;
  font-family: Karla;
  font-weight: 500;
  font-size: 0.8479rem;
  color: #edefee;
  width: 11.3989em;
}

.heroButton {
  grid-column: 1/span 2;
  grid-row: 34/ 38;
  background-color: #F4CE14;
  color: black;
  font-weight: 700;
  text-align: center;
  border-radius: 16px;
  border-width: 0rem;
  border-style: none;
  width: 9.324rem;
  height: 2.205rem;
}

.heroButtonBox {
  grid-column: 1/span 2;
  grid-row: 34/ 38;
}

#calltoactionimg{
  grid-column: 4;
  margin-left: 2.25em;
  grid-row: 15/35;
  height: 7.9596rem;
  width: 6.9241rem;
  border-radius: 16px;
  min-width: 34%;
}



#formh1 {
  text-align: center;
  margin-top: 2%;
}

.formsBox{
  text-align: center;
}
.formsProper{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
  
form {
  margin-top: 1rem;
  justify-content: center;
  display: grid;
  grid-template-rows: repeat(11, 0.25fr);
  column-gap: 1.26em;
  margin-left: auto;
  margin-right: auto;
}

.formStyle {
  width: 15em;
  height: 65px; /* increase the height to give more space for the text */
  background-color: #edefee;
  text-align: center;
  border-radius: 8px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 1.2em; /* adjust the line height to fit the text better */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* identical to box height, or 80% */
  color: #495E57;
}

select.formStyle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("./Assets/wine.png"), url("./Assets/arrow.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left 1em center, right 1em center;
  background-size: auto 80%, auto 15%;
  padding: 10px; /* add 10 pixels of padding to all sides of the button */
}


.formStyle:active:valid {
  background: #495E57;
  color:#edefee;
  background-image: url("./Assets/White arrow.png");
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: auto 15%;
  padding: 10px; /* add 10 pixels of padding to all sides of the button */
  transition: all 0.5s fade-in;
  
}

 option {
  width: 15em;
  height: 15px; /* increase the height to give more space for the text */
  background-color: #edefee;
  text-align: center !important;
  border-radius: 8px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 1.2em; /* adjust the line height to fit the text better */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* identical to box height, or 80% */
  color: #495E57;
}

option:hover {
  background: #495E57;
  color: white;
  justify-content: center;
  align-items: center;
}

:hover .formStyle option{
  background: #495E57;
  color: white;
  justify-content: center;
  align-items: center;
}

.formButton {
  margin-top: 3px;
  margin-bottom: 6px;
  width: 13.56em;
  height: 65px; /* increase the height to give more space for the text */
  text-align: center !important;
  border-radius: 8px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 1.2em; /* adjust the line height to fit the text better */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* identical to box height, or 80% */
  background-color: #edefee;
  color: #495E57;
}


#date {
  margin-top: 3px;
  margin-bottom: 6px;
  width: 15em;
  height: 65px; /* increase the height to give more space for the text */
  text-align: center !important;
  border-radius: 8px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 1.2em; /* adjust the line height to fit the text better */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* identical to box height, or 80% */
  background-color: #edefee;
  color: #495E57;
}

#date:valid:active {
  background-color: #495E57;
  color: #edefee;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
  background-color: #495E57;
  color: #edefee;
}

input[type="date"]::-webkit-calendar-picker-indicator {
color:#495E57;
  font-size: 25px;
  padding: 8px;
  border-radius: 8px;
}
.formButtonTime {
  margin-top: 3px;
  margin-bottom: 6px;
  width: 15em;
  height: 65px; /* increase the height to give more space for the text */
  text-align: center !important;
  border-radius: 8px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 1.2em; /* adjust the line height to fit the text better */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* identical to box height, or 80% */
  background-color: #edefee;
  color: #495E57;
  }

select.formButtonTime {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('./Assets/arrow.png');
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: auto 15%;
  padding: 10px; /* add 10 pixels of padding to all sides of the button */
}

.formButtonTime:valid:focus {
  background-color: #495E57;
  color: white;
  background-image: url("./Assets/White arrow.png");
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: auto 15%;
  padding: 10px; /* add 10 pixels of padding to all sides of the button */
  transition: all 0.5s fade-in;
}
input[type="number"] {
  margin-top: 3px;
  margin-bottom: 6px;
  width: 13.56em;
  height: 38px; /* increase the height to give more space for the text */
  text-align: center !important;
  border-radius: 8px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 1.2em; /* adjust the line height to fit the text better */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* identical to box height, or 80% */
  background-color: #edefee;
  color: #495E57;
  background-image: url('./Assets/updown.png');
  background-position: right 1em center;
  background-size: auto 37% ;
  background-repeat: no-repeat;
  caret-color: transparent;
  padding: 10px; /* add 10 pixels of padding to all sides of the button */
  padding-left: 1em;}

input[type="number"]:valid:hover {
  width: 13.56em;
 
  background-color: #495E57;
  color: white;
  background-image: url('./Assets/Whiteupdown.png');
  background-position: right 1em center;
  background-size: auto 37% ;
  background-repeat: no-repeat;
  caret-color: transparent;
  
}


input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  opacity: 1 !important;
  background: transparent !important;
  border-width: 0px;
  margin: 0;
  border-left: 1.1em solid transparent;
  height: 50px;
  width: 10px;
  cursor: pointer;
}



.formSubmitButton {
  margin-top: 3px;
  margin-bottom: 6px;
  width: 15em;
  height: 65px; /* increase the height to give more space for the text */
  text-align: center !important;
  border-radius: 8px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 1.2em; /* adjust the line height to fit the text better */
}
.formSubmitButton:valid {
  margin-top: 3px;
  margin-bottom: 6px;
  width: 15em;
  height: 100px; /* increase the height to give more space for the text */
  text-align: center !important;
  border-radius: 8px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 1.2em; /* adjust the line height to fit the text better */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* identical to box height, or 80% */
  background-color: #494949;
  color: white;
}

.specials {
  display: grid;
  grid-template-columns: 1, 1fr;
  background-color: #EE9972;
}
.card {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.specialHeader {
  font-family: Karla;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  margin-left: 1.26rem;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 23.38px;
  color: #000000;

}


.specialButton {
  background-color: #F4CE14;
  color: black;
  font-weight: 700;
  text-align: center;
  border-radius: 16px;
  border-width: 0rem;
  border-style: none;
  width: 9.324rem;
  height: 2.205rem;
  justify-self: center;
  margin-bottom: 1rem;
}

.customersSay {
  grid-template-columns: 1, 1fr;
  background-color: #fbdabb;
  justify-items: center;
  padding-top: 1rem;
}

.cardLikeBox {
  grid-column: 1;
  display: flex;
  flex-direction: column;
}

.customersH {
color:#494949;
font-family: Markazi Text;
text-align: center;
margin-bottom: 1rem;
}

#buttonBox {
  grid-column: 1;
  text-align: center;
}

.testimonyButton {
  position: relative;
  align-items: center;
  background-color: #F4CE14;
  color: black;
  font-weight: 700;
  border-radius: 16px;
  border-width: 0rem;
  border-style: none;
  width: 9.324rem;
  height: 2.205rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.rating {
  font-size: 1.16rem;
  margin-bottom: 0.38rem;
  text-align: center;
}

#testimonyImg {
  height: 6rem;
  width: 6rem;
  border-radius: 16px;
  border-style: none;
  align-self: center;
  margin-top: 0.38rem;
  margin-bottom: 0.38rem;
}
.loginH {
  margin: 2em;
  text-align: center;
}
#username {
  margin-top: 3px;
  margin-bottom: 6px;
  width: 15em;
  height: 65px; /* increase the height to give more space for the text */
  text-align: center !important;
  border-radius: 8px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 1.2em; /* adjust the line height to fit the text better */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* identical to box height, or 80% */
  background-color: white;
  color: #495E57;
}

#password {
  margin-top: 3px;
  margin-bottom: 6px;
  width: 15em;
  height: 65px; /* increase the height to give more space for the text */
  text-align: center !important;
  border-radius: 8px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 1.2em; /* adjust the line height to fit the text better */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* identical to box height, or 80% */
  background-color: white;
  color: #495E57;
}

#login {
  margin-top: 3px;
  margin-bottom: 6px;
  width: 15em;
  height: 65px; /* increase the height to give more space for the text */
  text-align: center !important;
  border-radius: 8px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 1.2em; /* adjust the line height to fit the text better */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* identical to box height, or 80% */
  background-color: white;
  color: #495E57;
}

#login:valid {
  background-color: white;
}


@media screen and (max-width: 26.5625em) and (min-width: 20em) {

     form {
      text-align: center !important;
      justify-content: center !important;
      justify-self: center !important;
      justify-items: center !important;
    }
    
    .formsProper {
      margin-left: 0;
      margin-right: 0;
      text-align: center !important;
    }
    
    .formStyle {
      grid-column: 1;
      width: 12.25em;
      height: auto;
      font-size: 20px;
    }
    
    select.formStyle {
      width: 12.25em;
      font-size: 20px;
      background-position: left .25em center, right 0.25em center;
      background-size: auto 60%, auto 15%;
      padding: 10px; /* add 10 pixels of padding to all sides of the button */
    }
    
  
    #date {
      width: 11.75em;
      height: 40px;
      font-size: 20px;
    }
  
    #time {
      width: 12em;
      height: auto;
      font-size: 20px;
      background-position: right 0.25em center;
      background-size: auto 15%;
    }
  
    input[type="number"] {
      text-align: center !important;
      width: 10.45em;
      height: auto;
      font-size: 20px;
      background-position: right 0.25em center;
      background-size: auto 37% ;
      background-repeat: no-repeat;
      caret-color: transparent;
      
    }
    
    input[type="number"]:valid:hover {
      width: 10.45em;
      background-position: right 0.25em center;
      background-size: auto 37% ;
      background-repeat: no-repeat;
      caret-color: transparent;
      
    }
    
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none !important;
      opacity: 1 !important;
      background: transparent !important;
      border-width: 0px;
      margin: 0;
      border-left: 1em solid transparent;
      height: 50px;
      width: 1px;
      cursor: pointer;
    }
    
  
    input[type="date"]::-webkit-calendar-picker-indicator {
      color:#495E57;
        font-size: 20px;
        padding: 8px;
        border-radius: 8px;
        
      }
      .formSubmitButton {
        margin-top: 3px;
        margin-bottom: 6px;
        width: 12em;
        height: 65px; /* increase the height to give more space for the text */
        text-align: center !important;
        border-radius: 8px;
        font-family: 'Karla';
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 1.2em; /* adjust the line height to fit the text better */
      }
      .formSubmitButton:valid {
        margin-top: 3px;
        margin-bottom: 6px;
        width: 12em;
        height: 100px; /* increase the height to give more space for the text */
        text-align: center !important;
        border-radius: 8px;
        font-family: 'Karla';
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 1.2em; /* adjust the line height to fit the text better */
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        /* identical to box height, or 80% */
        background-color: #494949;
        color: white;
      }
    }
  




@media screen and (max-width: 25.389em )  {
 

  .main-hero h1 {
    font-size: calc(2rem + 3vw)
  }
}

@media screen and (max-width: 22.68em )  {

.main-hero h1 {  font-size: calc(2rem + 2.5vw)}}

@media screen and (max-width: 21.798em )  {

  .main-hero h1 {  font-size: calc(2rem + 2.25vw)}

  .main-hero {
    column-gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
    
  }  



}


@media screen and (max-width: 20.349em ) {

  .main-hero h1 {  font-size: calc(2rem + 2vw)}

  .main-hero {
    column-gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
    
  }  }

  @media screen and (max-width: 20em ) {

   
    .main-hero h1 {  font-size: calc(2rem + 2vw)}
  
    .main-hero {
      column-gap: 1em;
      margin-left: 1em;
      margin-right: 1em;
    }

    
     }


  
  @media screen and (min-width: 428px) {

    #heroh1 {
      font-family: Markazi text;
      font-size: calc(2.7rem + 0.1vw);
      font-weight: 500;
      color: #F4CE14;
      margin-bottom: 0em;
      width: 17.64rem;
      max-width: 90%;
    
    
    }
    
    
    
    #chip {
      grid-column: 1/ span 3;
      grid-row: 15/26;
      font-family: Karla;
      font-weight: 500;
      font-size: calc(1rem + 0.3vw);
      color: #edefee;
      height: 6.615rem;
      width: 11.46rem;
    }
    
    .heroButtonBox {
      grid-column: 1/span 2;
      grid-row: 34/ 38;
    }

    .heroButton {
      grid-column: 1/span 2;
      grid-row: 34/ 38;
      background-color: #F4CE14;
      color: black;
      font-weight: 700;
      text-align: center;
      border-radius: 16px;
      border-width: 0rem;
      border-style: none;
      width: 9.324rem;
      height: 2.205rem;
    }
    
    #calltoactionimg{
      grid-column: 3/ span 4;
      grid-row: 15/35;
      height: 7.9596rem;
      width: 9.261rem;
      border-radius: 16px;
      min-width: 34%;
      margin-left: 1rem;
    }
  }
    @media screen and (min-width: 27.5em) {

    #calltoactionimg{
      grid-column: 3/ span 4;
      grid-row: 15/35;
      height: calc(9.9596rem + 1.5vh);
      width: calc(9.261rem + 18vw);
      border-radius: 16px;
      min-width: 34%;
      margin-left: 1.5rem;
    }


  @media screen and (min-width: 37.5rem) {

    .customersSay {
      display: grid;
      grid-auto-columns: repeat(3,1fr);
      grid-auto-rows: auto;
      column-gap: 0rem;
      justify-content: space-evenly;
      padding-bottom: 1rem;
    }
    
    .cardLikeBox {
      padding-top: 1rem;
      grid-column: center span;
      grid-row: 2;
      display: flexbox;
    }

    .customersH {
    display: flex;
    grid-column: 1;
    grid-row: 1;
    color:#494949;
    font-family: Markazi Text;
    margin-left: 1.26rem;
    align-self: center;
    }
    
    #buttonBox {
      display: flex;
      grid-column: 3;
      grid-row: 1;
      flex-direction: row;
      align-self: center;
    }
    
    .testimonyButton {
      background-color: #F4CE14;
      color: black;
      font-weight: 700;
      border-radius: 16px;
      border-width: 0rem;
      border-style: none;
      width: 9.324rem;
      height: 2.205rem;
  

    }
    
    .rating {
      font-size: 1.16rem;
      margin-bottom: 0.38rem;
      text-align: center;
    }
    
    #testimonyImg {
      height: 6rem;
      width: 6rem;
      border-radius: 16px;
      border-style: none;
    }
  }

  }

  @media screen and (min-width: 834px) {

    #heroh1 {
      font-family: Markazi text;
      font-size: calc(3rem + 3vw);
      font-weight: 500;
      color: #F4CE14;
      margin-bottom: 0em;
      width: 30.64rem;
      max-width: 90%;
    
    
    }
    
   
    
    #chip {
      grid-column: 1/ span 3;
      grid-row: 15/26;
      font-family: Karla;
      font-weight: 500;
      font-size: calc(1rem + 0.3vw);
      color: #edefee;
      height: 6.615rem;
      width: 20.46rem;
    }
    
    .heroButtonBox {
      grid-column: 1/span 2;
      grid-row: 34/ 38;
    }

    .heroButton {
      grid-column: 1/span 2;
      grid-row: 34/ 38;
      background-color: #F4CE14;
      color: black;
      font-weight: 700;
      text-align: center;
      border-radius: 16px;
      border-width: 0rem;
      border-style: none;
      width: 14.324rem;
      height: 2.455rem;
    }
    
    #calltoactionimg{
      grid-column: 3/ span 4;
      grid-row: 10/30;
      height: calc(9.9596rem + 6vh);
      width: calc(20.261rem + 5.8vw);
      border-radius: 16px;
      min-width: 34%;
      margin-left: 1rem;
    }
    


  }



  @media screen and (min-width: 87.3rem) {

    #callToAction {
      display: grid;
      grid-template-columns: repeat(12,1fr);
      grid-template-rows: repeat(50, 8px);
      column-gap: 1.26rem;
      margin-left: 1.26em;
      margin-right: 1.26em;
    }

    #base {
      grid-column: 2/ span 5;
      grid-row: 7/ span 14;
    }
    #heroh1 {
      grid-column: 2/span 5;
      font-family: Markazi text;
      font-size: calc(3rem + 1vw);
      font-weight: 500;
      color: #F4CE14;
      margin-bottom: 0em;
      width: 30.64rem;
      max-width: 90%;
    
    
    }
    
    
    
    #chip {
      grid-column: 2/ span 5;
      grid-row: 24/33;
      font-family: Karla;
      font-weight: 500;
      font-size: calc(1rem + 0.3vw);
      color: #edefee;
      height: 6.615rem;
      width: 23.688rem;
    }
    
    .heroButtonBox {
      grid-column: 2/span 3;
      grid-row: 37/ 48;
    }
    .heroButton {
      grid-column: 2/span 3;
      grid-row: 37/ 48;
      background-color: #F4CE14;
      color: black;
      font-weight: 700;
      text-align: center;
      border-radius: 16px;
      border-width: 0rem;
      border-style: none;
      width: 12.159rem;
      height: 3.276rem;
    }
    
    #calltoactionimg{
      grid-column: 7/ span 10;
      grid-row: 4/46;
      height: 347px;
      width: calc(22.058rem + 1.5vw) ;
      border-radius: 16px;
      min-width: 34%;
      margin-left: 1rem;
    }
    

.specials {
      display: inline-grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(10, 71.5px);
      background-color: #EE9972;
      column-gap: 20px;
      padding-left: 70px;
      padding-right: 70px;
      
    }
    .card {
      grid-column: span 4;
      grid-row: 4/9;
      display: grid;
      grid-template-columns: 1, 1fr;
      grid-template-rows: repeat(4,auto);
      
    }
    
    .specialHeader {
      grid-row: 3;
      grid-column: 2;
      display: flex;
      font-family: Karla;
      margin-top: 1rem;
      margin-bottom: 1rem;
      text-align: left;
      margin-left: 1.26rem;
      font-size: 1.25rem;
      font-weight: 800;
      line-height: 23.38px;
      color: #000000;
    
    }
    
    #cardImg {
      grid-column: 1/span 2;
      grid-row: 1;
      height: 10.25rem;
      width: 16.38rem;
      border-radius: 16px;
      border-style: none;
      align-self: center;
      margin-bottom: 0.6rem;
    }
    
    .cardH {
      grid-column: 1;
      grid-row: 2;
      font-size: 1.13rem;
      color: #000000;
      font-weight: 700;
      align-self: left;
      margin-bottom: 0.6rem;
    }
    
    .price {
      grid-column: 1;
      grid-row: 2;
      font-size: 1.13rem;
      color: #495E57;
      font-weight: 500;
      text-align: right;
      margin-bottom: 0.005rem;
    }
    
    .cardP {
      grid-column: 1;
      grid-row: 3;
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 400;
      color: #495E57;
      width: 15.56rem;
      text-align: left;
      margin-top: 0;
      margin-bottom: 0.6rem;
    }
    
    .cardLink {
      grid-row: 4;
      font-style: none;
      color: #494949;
      text-align: center;
      margin-bottom: 1.3rem;
      font-style: none;
    }
    
    .specialLink {
      grid-column: 9/10;
      grid-row: 3;
      margin-top: 0.8rem;
    }
    .specialButton {
      grid-column: 9/10;
      grid-row: 3;
      background-color: #F4CE14;
      color: black;
      font-weight: 700;
      text-align: center;
      border-radius: 16px;
      border-width: 0rem;
      border-style: none;
      width: 9.324rem;
      height: 2.205rem;
      justify-self: center;
      margin-bottom: 1rem;
    }
  
  
  }

  @media screen and (min-width: 0em ) and (max-width: 68em) {

    nav {
      grid-column: 1/1 ;
      grid-row: 1/ span 1;
      margin-right: auto;
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
    }
  
    #hlogo {
      display: none;
        }
      
  #hcart {
    grid-row: 1/1;
    grid-column: 4/ span 4;
    display: inline-block;
  }

  .navBar {
    position: relative;
  }
  
  .navBar button {
    position: fixed;
    left: 40px;
    top: 40px;
    z-index: 10;
    cursor: pointer;
  }
  
  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: #495E57;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
  }
  
  .menuNav.showMenu {
    width: 100%;
  }
  
  a {
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    text-transform: none;
    font-weight: 700;
  }

  nav li {
    display: flex;
  }
  nav ul {
    display: block;
  }
  ul a {
    color: white;
  }
  .menuNav li:first-child {
    margin-top: 7rem;
  }
#button {
  display: inline-block;
}


}

